form{
    color:rgb(1, 17, 17);
    background:rgba(255, 252, 252, 0.26) ;
    
}
h2{
    text-decoration: solid;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0pc;
   text-decoration-color: rgb(24, 128, 224);
   color:darkolivegreen;
   background-size: 0rem;
   back

}